<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Warfare Top Down Game</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/phaser@3.16.2/dist/phaser.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  
  <link rel="stylesheet" href="./assets/css/game.css">
</head>

<body class="background-light ">
    
    <div class="container text-center">
      <h1>WTD GAME LOBBY</h1>
    
      <br>
        
          <div class="row">
            <div class="col-4">
              <div class="team-a"></div>
            </div>
            <div class="col-4">
              
              <ul class="list-group">
                <ul class="list-group"><li class="list-group-item list-group-item-dark">GAME INFO</li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col">
                      GAME STATUS
                    </div>
                    <div class="col">
                      <div class="timer">Waiting</div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col">
                      TEAM A SCORE
                    </div>
                    <div class="col">
                      0
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col">
                      TEAM B SCORE
                    </div>
                    <div class="col">
                      0
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col">
                      CLOCK
                    </div>
                    <div class="col">
                      <div class="clock">00:15</div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-4">
              <div class="team-b"></div>
            </div>
      
          </div>
    </div>
  <div class="row">
    <div class="col-2">
      <!-- <div class="container">
        <ul class="list-group">
          <ul class="list-group"><li class="list-group-item list-group-item-danger">GAME INFO</li>
          <li class="list-group-item">
            <div class="row">
              <div class="col">
                TEAM A
              </div>
              <div class="col">
                <div class="timer">Waiting</div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col">
                TEAM A SCORE
              </div>
              <div class="col">
                0
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col">
                TEAM B SCORE
              </div>
              <div class="col">
                0
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col">
                CLOCK
              </div>
              <div class="col">
                <div class="clock">00:15</div>
              </div>
            </div>
          </li>
        </ul>
      </div> -->
        
    </div>
    <div class="col-8">
      <div id="phasor"></div>
      
    </div>
    <div class="col-2">
     <!--PUT STATIC TUTORIAL CONTENT HERE--> 
    </div>
  </div>
  
  
  
  <script src="assets/js/lobby.js"user_id=<%= user_id %> game_id=<%= game_id %>></script>
  <script type="module" src="assets/js/leaderboard.js" user_id=<%= user_id %> game_id=<%= game_id %>></script>
  <script id="code" type="module"  src="assets/js/game.js" user_id=<%= user_id %> game_id=<%= game_id %>></script>
</body>

</html>