<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Game</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/phaser@3.16.2/dist/phaser.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="./assets/css/game.css">
</head>

<body class="background-dark">
  <div class="center">
    <h1 class="text-white">Warfare Top Down Game </h1>
    
  </div>
  <!-- <button>QUIT</button> -->
  <script src="assets/js/game.js" user_id=<%= user_id %> game_id=<%= game_id %>></script>
</body>

</html>