<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Warfare Top Down Game</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
  <link rel="stylesheet" href="./assets/css/index.css">
</head>

<body class="background-light ">
    
    <div class="container text-center">
      <h1>WTD POST GAME</h1>
    
      <br>
        
          <div class="row">
      
            <div class="col-6">
              
              <ul class="list-group">
                <ul class="list-group"><li class="list-group-item list-group-item-dark">POST GAME INFO</li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col">
                      GAME STATUS
                    </div>
                    <div class="col">
                      <div class="timer">FINISHED</div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col">
                      TEAM A SCORE
                    </div>
                    <div class="col">
                      <%= result[0].team_a_score %>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col">
                      TEAM B SCORE
                    </div>
                    <div class="col">
                      <%= result[0].team_b_score %>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col">
                      ELAPSED TIME
                    </div>
                    <div class="col">
                      <div class="clock">4:00</div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col" style="color: blue;">
                      Team A Top Player
                    </div>
                    <div class="col" style="color: blue;">
                      SCORE
                    </div>
                  </div>
                  <div class="row">
                    <div class="col" style="color: blue;">
                      <%= result[0].team_a_top_player %>
                    </div>
                    <div class="col" style="color: blue;">
                      <%= result[0].team_a_top_score%>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col" style="color: grey;">
                      Team B Top Player
                    </div>
                    <div class="col" style="color: grey;">
                      SCORE
                    </div>
                  </div>
                  <div class="row">
                    <div class="col" style="color: grey;">
                      <%= result[0].team_b_top_player %>
                    </div>
                    <div class="col" style="color: grey;">
                      <%= result[0].team_b_top_score%>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-6">
              <h3>Interested in playing again?</h3>
              <a type="button" href="/?user_id=<%= user_id%>&game_id=<%= game_id %>" class="btn btn-success">Play Again</a>
            </div>
            
      
          </div>
          <br>
          <hr>
          <br>
          <div class="row">
            <div class="col">
              <% if(result[0].team_a_score > result[0].team_b_score){ %>
                <h1 style="color: blue;">TEAM A WINS ! ! !</h1>
             <% } else{ %>
              <h1 style="color: grey;">TEAM B WINS ! ! !</h1>
              <% } %>
            </div>
          </div>
    </div>
</body>

</html>