html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif !important;
}

.background-dark{
    background-color: dimgrey;
}
.center{
    text-align: center;
}

.text-white{
    color: white;
}

.game_tutorial {
    /* padding-right: 50px; */
}

.game_images {
    margin: 0 auto;
    margin-left: 0;
    display: block;
}

.tutorial_text {
    /* text-align: center; */
    font-size: 24px;
    margin-left: 100px;
}