html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif !important;
  }

  .background-light{
      background-color: beige;
  }
  
  .vertical-centerize{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  .flash-message{
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    background-image: url(../images/field_rock_background.png);
    background-attachment: fixed;
    background-size: cover;
  }